@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

div#preload {
	display: none;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: border-box;
	}

	body {
		background: #fff;
	}

	body.is-preload *, body.is-preload *:before, body.is-preload *:after {
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}

	body,input,textarea,select {
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 19pt;
			font-weight: 300;
			line-height: 1.75em;
			color: rgb(199, 199, 199);
			-webkit-text-stroke: 0.15px;
	}

	h1,h2,h3,h4,h5,h6 {
			font-weight: 200;
			color: rgb(199, 199, 199);
			line-height: 1.5em;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
	}

	h1 a strong, h2 a strong, h3 a strong, h4 a strong, h5 a strong, h6 a strong {
			color: #333;
		}

	h2 {
		font-size: 2.5em;
		letter-spacing: 0px;
	}

	h2.alt {
		color: rgb(0, 0, 0);
		font-weight: 600;
	}

	h2.alt strong {
		color: rgb(199, 199, 199);
	}

	h3 {
		font-size: 1.5em;
	}

	footer {
		margin: 2em 0 0 0;
	}

	strong, b {
		font-weight: 300;
		color: rgb(199, 199, 199);
	}

	em, i {
		font-style: italic;
	}

	a {
		text-decoration: none;
		color: inherit;
		border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
		-moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		outline: 0;
	}

	a:hover {
		color: rgb(203, 70, 70);
		border-bottom-color: rgba(255, 255, 255, 0);
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px #ddd;
	}

	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p, ul, ol, dl, table {
		margin-bottom: 2em;
	}

	br.clear {
		clear: both;
	}

	header {
		color: rgb(238, 238, 238);
		font-size: 40px;
		font-weight: 900;
		margin-top: 2em;
		text-align: left;
	}

	#portrait {
		width: 200px;
		border-radius: 75%;
		margin-left: auto;
		margin-right: auto;
		display: block;
		-webkit-filter: drop-shadow(10px 10px 10px #222);
    	filter: drop-shadow(10px 10px 10px #222);
	}

	.highlight {
		font-size: 25px;
		color: rgb(196, 196, 196);
	}

	/* Typewriter */
	#typewriter {
		margin: auto;
		width: 12.5em;
	}

	#typewriter:after {
		content: "|";
		text-align: left;
		white-space: pre-line;
		animation: blink 500ms linear infinite alternate;
	}
	@-webkit-keyframes blink {
		0% {
		opacity: 0;
		}
		100% {
		opacity: 1;
		}
	}
	@-moz-keyframes blink {
		0% {
		opacity: 0;
		}
		100% {
		opacity: 1;
		}
	}
	@keyframes blink {
		0% {
		opacity: 0;
		}
		100% {
		opacity: 1;
		}
	}

/* About */

	#about.three {
		padding-bottom: 5em;
		padding-top: 4em;
	}

	#about header {
		margin-top: 0em;
		margin-bottom: 1em;
		margin-left: 0;
		font-size: 28px;
	}

	#about-sec {
		margin-left: 4em;
		margin-bottom: 4em;;
		padding-left: 1.5em;
		border-left: 5px solid rgb(203, 70, 70);
		text-align: left;
		margin-block-start: 0em;
		margin-block-end: 0em;
		padding-right: 1em;
	}

	#about br {
		display: block;
		content: "";
		margin-top: .6em;
	}

	#about a {
		cursor: pointer;
	}

	#dot {
		display: inline;
	}

	.read-more-state {
		display: none;
	}
	
	.read-more-target {
		opacity: 0;
		max-height: 0;
		font-size: 0;
		transition: .1s ease;
	}
	
	.read-more-state:checked ~ .read-more-wrap .read-more-target {
		opacity: 1;
		font-size: inherit;
		max-height: 999em;
		margin-bottom: 10em;
	}

	.read-more-state ~ .read-more-trigger:before {
		content: 'Read More';
	}

	.read-more-state:checked ~ .read-more-trigger:before {
		content: 'Read Less';
	}

	.read-more-state ~ .read-more-wrap {
		margin-bottom: -1.5em;
	}

	.read-more-state:checked ~ .read-more-wrap {
		margin-bottom: 1em;
	}

	.read-more-state ~ .read-more-wrap .dot {
		display: inline; 
	}

	.read-more-state:checked ~ .read-more-wrap .dot{
		display: none;
	}

	.read-more-trigger {
		cursor: pointer;
		padding: .25em .5em;
		background:  rgb(203, 70, 70);
		border-radius: .20em;
		margin-left: 15.5em;
	}

	.read-more-trigger:hover {
		background:  rgb(179, 51, 51);
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-ms-transition: all 0.35s ease-in-out;
		transition: all 0.35s ease-in-out;
	}

/* Portfolio */

	#portfolio.two {
		padding-bottom: 4em;
		padding-top: 3em;
	}

	#portfolio header {
		margin-top: 0em;
		margin-bottom: 0em;
		margin-left: 0;
		font-size: 25px;
		text-align: center;
	}

	.gallery.box1{
		width: 370px;
		height: 320px;
		margin: 0em 2em 0 0em;
		overflow: hidden;
		border-radius: 1%;
		border: 5px rgb(203, 70, 70) solid;
		display: inline-block;
	}

	.gallery.box2{
		width: 370px;
		height: 320px;
		margin: 0em 0 0 2em;
		overflow: hidden;
		border-radius: 1%;
		border: 5px rgb(203, 70, 70) solid;
		display: inline-block;
	}

	.gallery.box3 {
		width: 370px;
		height: 320px;
		margin: 2em 2em 0 0em;
		overflow: hidden;
		border-radius: 1%;
		border: 5px rgb(203, 70, 70) solid;
		display: inline-block;
	}

	.gallery.box4 {
		width: 370px;
		height: 320px;
		margin: 2em 0 0 2em;
		overflow: hidden;
		border-radius: 1%;
		border: 5px rgb(203, 70, 70) solid;
		display: inline-block;
	}
	
	.gallery .card{
		position: relative;
	}

	.foot br {
		line-height:190%;
		vertical-align:top
	}

	.gallery .background, .gallery .column{
		height: 200px;
		width: 360px;
	}

	.background.dash {
		background: url("images/dashboard.png");
		background-size: 360px;
	}

	.background.genome {
		background: url("images/genome.png");
		background-size: 360px;
	}

	.background.wrangler {
		background: url("images/wrangler.png");
		background-size: 360px;
	}

	.background.traffic {
		background: url("images/trafficimpact.png");
		background-size: 360px;
	}

	.gallery .overlay{
		position: absolute;
		top: 0px;
		bottom: 0;
		left:0;
		right: 0;
		opacity: 0;
		background-color: #000;
		-webkit-transition: opacity 0.35s;
		-o-transition: opacity 0.35s;
		transition: opacity 0.35s;
	}

	.info {
		background-color: rgb(38, 41, 46);
	}
	
	.gallery .info,
	.gallery .foot{
		-webkit-transition: bottom 0.35s;
		-o-transition: bottom 0.35s;
		transition: bottom 0.35s;
	}

	.gallery .info{
		position: absolute;
		width: 100%;
	}

	.gallery .info h2 a {
		color: #fff;
		display: block;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
		text-decoration: none;
		font-size: 32px;
		margin-top: .85em;
		outline: 0;
		border: 0; 
	}

	.gallery .info h2{
		line-height: 24px;
		font-size: 20px;
		padding: 0 10px;
		font-weight: 400;
	}

	.gallery .foot{
		height: 20px;
		bottom: -15px;
		color: #fff;
		position: relative;
		padding: 0 10px;
		text-decoration: none;
		padding-bottom: 8.5em;
	}

	.gallery .foot .line{
		height: 2px;
		display: block;
		background-color: #fff;
		margin-top: 10px;
		margin-bottom: 0;
		width: 0%;
		transition: width 0.6s;
	}

	.gallery .foot p {
		font-size: 18px;
		text-align: center;
		line-height: 19px;
		margin-top: .25em;
	}

	.gallery .date{
		font-weight: 300;
		font-size: 22px;
	}

	.gallery:hover .info,
	.gallery:hover .foot{
		top: -15px;
		bottom: 0px;
		background-color: rgb(38, 41, 46);
	}

	.gallery:hover .info {
		top: 5.2em;
		bottom: -5em;
	}

	.gallery:hover .overlay{
		opacity: 0.5;
	}

	.gallery:hover .foot .line{
		width: 100%;
	}

	.gallery:hover h2 a{
		margin-top: .2em;
	}

	.info h2 a:hover  {
		color: rgb(203, 70, 70);
	}
	
	.result {
		font-size: 21px;
	}

/* Contact */
	#contact.four {
		padding-bottom: 1.5em;
		padding-top: 4em;
	}

	#contact header {
		margin-top: 0em;
		margin-bottom: 0em;
		margin-left: 0;
		font-size: 28px;
		text-align: center;
	}

	#contact p {
		text-align: center;
	}

	#contact .icons {
		text-align: center;
	}

/* Container */

	.container {
		margin: 0 auto;
		max-width: 100%;
		width: 1400px;
	}
		

/* Sections/Article */

	section, article {
		margin-bottom: 3em;
	}

	section > :last-child,
	section > .container, section:last-child, article > :last-child,
	article > .container, article:last-child {
		margin-bottom: 0;
	}

	.row > section, .row > article {
		margin-bottom: 0;
	}

/* Image */

	.image {
		display: inline-block;
		border: 0;
	}

	.image img {
		display: block;
		width: 100%;
	}

	.image.avatar48 {
		width: 48px;
		background: #f00;
	}

	.image.avatar48 img {
		width: 65px;
		border-radius: 75%;
	}

	.image.fit {
		display: block;
		width: 100%;
	}

	.image.full {
		display: block;
		width: 100%;
	}

	.image.featured {
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}

	.image.left {
		float: left;
		margin: 0 2em 2em 0;
	}

	.image.centered {
		display: block;
		margin: 0 0 2em 0;
	}

	.image.centered img {
		margin: 0 auto;
		width: auto;
	}

/* List */

	ul {
		list-style: disc;
		padding-left: 1em;
	}

	ol {
		list-style: decimal;
		padding-left: 1.25em;
	}

	ol li {
		padding-left: 0.25em;
	}

/* Icons */

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

	ul.icons li {
		display: inline-block;
		padding-left: 0;
	}

	ul.icons a {
		display: inline-block;
		width: 3em;
		height: 2em;
		line-height: 2em;
		text-align: center;
		border: 0;
		font-size: 2.5em;
	}

/* Button */

	.button.scrolly
	{
		position: absolute;
		opacity: .7;
		border: 0;
		margin-left: -1.10em;
		top: 85%;
	}

	.button:hover
	{
		opacity: 1;
	}

	.button img {
		width: 50px;
	}

/* Icons */

	.icon {
		text-decoration: none;
		text-decoration: none;
	}

	.icon:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1;
		text-transform: none !important;
		font-family: 'Font Awesome 5 Free';
		font-weight: 400;
	}

	.icon:before {
		line-height: inherit;
	}

	.icon > .label {
		display: none;
	}

	.icon.solid:before {
		font-weight: 900;
	}

	.icon.brands:before {
		font-family: 'Font Awesome 5 Brands';
	}

/* Header */

	#header
	{
		position: fixed;
		top: 0;
		left: 0;
		width: 375px;
		height: 100%;
		color: #fff;
		background: #26292E;
		box-shadow: inset -0.25em 0 0.25em 0 rgba(0,0,0,0.125);
		text-align: right;
		width: 50%;
	}

	#header .top
	{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

	#header .icons
	{
		font-size: 1em;
		margin: 0 0 1em 0;
		text-align: center;
	}


	#header .icons a {
		color: #41484c;
		-moz-transition: color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out;
	}

	#header .icons a:hover {
		color: #fff;
	}

	#top {
		height: 100vh;
		font-family: monospace;
	}

	#logo {
		text-align: center;
		min-height: 48px;
		cursor: default;
		margin-top: 3em;
		margin-bottom: .5em;
	}

	#logo #title1 {
		color: #fff;
		font-weight: 600;
		font-size: 1.25em;
		text-align: center;
		display: inline-block;
	}

	#logo #title2 {
		color: #fff;
		font-weight: 200;
		font-size: 1.25em;
		text-align: center;
		display: inline-block;
	}

	#nav ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
	}

	#nav ul li a
	{
		display: block;
		padding: 0.5em 1.5em 0.5em 1.5em;
		color: rgba(255,255,255,0.5);
		text-decoration: none;
		outline: 0;
		border: 0;
		-moz-transition: none;
		-webkit-transition: none;
		-o-transition: none;
		-ms-transition: none;
		transition: none;
	}
				
	#nav ul li a span
	{
		position: relative;
		display: block;
		font-size: .9em;
	}
					
	#nav ul li a span:before
	{
		position: absolute;
		left: 0;
		color: #41484c;
		text-align: center;
		width: 1.25em;
	}
	
	#nav ul li a.active
	{
		background: rgba(0,0,0,0.15);
		box-shadow: inset 0 0 0.25em 0 rgba(0,0,0,0.125);
		color: #fff;
	}


	#nav ul li a.active span:before
	{
		color: rgb(203, 70, 70);
	}

/* Footer */

	#footer {
		text-align: center;
		background-color: #26292E;
		padding: 1em 0 1.5em 0em;
		font-size: 0.8em;
	}

	#footer .copyright {
		cursor: default;
		margin: 0;
		padding-left: 0em;
	}

	#footer .copyright li {
		display: inline-block;
		line-height: 1em;
		border-left: solid 1px rgba(128, 128, 128, 0.35);
		padding: 0 0 0 0.5em;
		margin: 0 0 0 0.5em;
	}

	#footer .copyright li:first-child {
		border-left: 0;
		padding-left: 0;
		margin-left: 0;
	}

/* Main */

	#main
	{
		margin-left: 375px;
		padding-bottom: 0;
	}

	#main > section
	{
		margin: 0;
		overflow: hidden;
		padding: 3em 0 4em 0;
		box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05), inset 0 0.1em 0.1em 0 rgba(0,0,0,0.025);
		text-align: center;
	}

	#main > section.one
	{
		background-image: url('images/ocean.jpg');
		background-size: 1600px;
		background-attachment: fixed;
		background-repeat: repeat;
		padding-top: 0;
		padding-bottom: 1em;
	}

	#main > section.one .image.featured
	{
		margin-bottom: 3em;
	}

	#main > section.two
	{
		background-color: #2F3238;
	}

	#main > section.three
	{
		background-color: #26292E;
	}

	#main > section.four
	{
		background-color: #26292E;
	}

/* Responsive */

@media screen and (min-width: 961px) and (max-width: 1880px) {

	.container {
		width: 1200px;
	}

}

@media screen and (min-width: 961px) and (max-width: 1620px) {

	.container {
		width: 960px;
	}

}

@media screen and (min-width: 961px) and (max-width: 1320px) {

	.container {
		width: 100%;
	}

}

@media screen and (max-width: 960px) {

	.container {
		width: 100%;
	}

}

@media screen and (max-width: 736px) {

	.container {
		width: 100%;
	}

}

@media screen and (max-width: 1320px) {

	.box1.gallery {
		margin-right: .75em;
	}

	.box2.gallery {
		margin-left: .75em;
	}

	.box3.gallery {
		margin-right: .75em;
	}

	.box4.gallery {
		margin-left: .75em;
	}

	.read-more-trigger {
		margin-left: 40%;
	}

	ul.icons a {
		width: 1.75em;
	}

}


/* Wide */

@media screen and (min-width: 961px) and (max-width: 1880px) {

	/* Basic */

		body, input, textarea, select {
			font-size: 17pt;
		}

	/* Header */

		#header {
			width: 300px;
		}

	/* Footer */

		#footer {
			margin-left: 300px;
		}

	/* Main */

		#main {
			margin-left: 300px;
		}

}

/* Normal */

@media screen and (min-width: 961px) and (max-width: 1620px) {

	/* Main */

	#main > section {
		padding: 2em 0;
	}

	#main section.cover {
		padding: 5em 0;
	}
}

/* Narrow */

@media screen and (min-width: 961px) and (max-width: 1320px) {

	/* Basic */

	body {
		font-size: 17pt;
	}

	.container {
		padding: 0 2em 0 2em;
	}

	/* Item */

	.item {
		margin-bottom: 20px;
	}

	/* Header */

	#header {
		width: 20%;
	}

	#logo .image {
		position: relative;
		margin: 0 0 0.5em 0;
	}

	#nav ul li a {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}

	/* Icons */

	ul.icons li a {
		width: 3.5em;
	}

	#nav ul li a span {
		padding-right: 2.25em;
	}

	#nav ul li a span:before {
		left: 100%;
		margin-left: -1.25em;
		line-height: 2.25em;
	}

	/* Footer */

	#footer {
		margin-left: 20%;
	}

	/* Main */

	#main {
		margin-left: 20%;
	}

}


@media screen and (max-width: 1080px) {

	/* Basic */

	html, body {
		overflow-x: hidden;
	}

	body, input, textarea, select {
		font-size: 17pt;
	}

	header br {
		display: none;
	}

	.container {
		padding: 0 2em 0 2em;
	}

/* Item */

	.item {
		margin-bottom: 15px;
	}

/* Header */

	#header {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transform: translateX(-275px);
		-webkit-transform: translateX(-275px);
		-ms-transform: translateX(-275px);
		transform: translateX(-275px);
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		-webkit-overflow-scrolling: touch;
		display: block;
		height: 100%;
		left: 0;
		overflow-y: auto;
		position: fixed;
		top: 0;
		width: 275px;
		z-index: 10002;
		width: 275px;
		box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.125);
	}

	#header .top {
		position: relative;
	}

	#logo {
		margin: 1.5em 1.25em 1.25em 1.25em;
	}

	#nav ul li a {
		padding: 0.5em 1.25em 0.5em 1.25em;
	}

	#headerToggle {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		display: block;
		height: 2.25em;
		left: 0;
		position: fixed;
		top: 0;
		width: 3.25em;
		z-index: 10001;
	}

	#headerToggle .toggle {
		text-decoration: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		outline: 0;
		border: 0;
	}

	#headerToggle .toggle:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1;
		text-transform: none !important;
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
	}

	#headerToggle .toggle:before {
		text-decoration: none;
		content: '\f0c9';
		color: #fff;
		font-size: 18px;
		background: rgba(128, 136, 144, 0.5);
		border-radius: 0.35em;
		text-align: center;
		position: absolute;
		left: 0.5em;
		top: 0.5em;
		display: block;
		width: 3.25em;
		height: 2.25em;
		line-height: 2.25em;
	}

	body.header-visible #main {
		-moz-transform: translateX(275px);
		-webkit-transform: translateX(275px);
		-ms-transform: translateX(275px);
		transform: translateX(275px);
	}

	body.header-visible #headerToggle {
		-moz-transform: translateX(275px);
		-webkit-transform: translateX(275px);
		-ms-transform: translateX(275px);
		transform: translateX(275px);
	}

	body.header-visible #header {
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	/* Footer */

	#footer {
		margin-left: 0;
	}

	/* Main */

	#main {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		margin-left: 0;
	}

	#main > section {
		padding: 3em 0;
	}

	#main section.cover {
		padding: 4em 0;
	}

	.box1.gallery {
		margin-right: .5em;
		margin-left: .5em;
	}

	.box2.gallery {
		margin-right: .5em;
		margin-left: .5em;
	}

	.box3.gallery {
		margin-right: .5em;
		margin-left: .5em;
		margin-top: 1em;
	}

	.box4.gallery {
		margin-right: .5em;
		margin-left: .5em;
		margin-top: 1em;
	}

	.read-more-trigger {
		margin-left: 40%;
	}

	/* Icons */

	ul.icons li a {
		width: 3.5em;
	}

}


@media screen and (max-width: 736px) {

	/* Basic */

	body, input, textarea, select {
		font-size: 16pt;
	}

	h2 {
		font-size: 2em;
		letter-spacing: 0;
		font-weight: 300;
	}

	.contact h2 {
		font-size: 2em;
	}

	.container {
		padding: 0 15px 0 15px;
	}

/* List */

	ul.icons a {
		font-size: 2.25em;
		width: 3em !important;
	}

/* Main */

	#main > section {
		padding: 2em 0;
	}

	#main section.cover {
		padding: 4em 0em;
	}

		#main section.cover header {
			padding: 0 1em;
		}

/* Footer */

	#footer .copyright li {
		display: block;
		line-height: 1.25em;
		border: 0;
		padding: 0;
		margin: 1em 0 0 0;
	}

	#footer .copyright li:first-child {
		margin-top: 0;
	}

	.box1.gallery {
		margin-left: auto;
		margin-right: auto;
	}

	.box2.gallery {
		margin-left: auto;
		margin-right: auto;
	}

	.box3.gallery {
		margin-left: auto;
		margin-right: auto;
	}

	.box4.gallery {
		margin-left: auto;
		margin-right: auto;
	}

	.read-more-trigger {
		margin-left: 40%;
	}

	#portfolio.two {
		padding-bottom: 3em;
		padding-top: 2em;
	}

	#about.three {
		padding-bottom: 3em;
		padding-top: 2em;
	}

	#contact.four {
		padding-bottom: .5em;
		padding-top: 2em;
	}

	header {
		font-size: 32px;
	}

	#typewriter {
		width: 16em;
	}
}

@media screen and (max-width: 420px) {
	body, input, textarea, select {
		font-size: 12pt;
		line-height: 25px;
	}

	h2 {
		font-size: 1.25em;
		letter-spacing: 0;
		font-weight: 300;
	}

	.read-more-trigger {
		margin-left: 30%;
	}

	ul.icons a {
		font-size: 2.5em;
		width: 2.25em !important;
	}

	.gallery.box1 {
		width: 320px;
		height: 260px;
	}

	.gallery.box2 {
		width: 320px;
		height: 260px;
	}

	.gallery.box3 {
		width: 320px;
		height: 260px;
	}

	.gallery.box4 {
		width: 320px;
		height: 260px;
	}

	.gallery .background, .gallery .column{
		height: 180px;
		width: 400px;
	}

	.background.dash {
		background-size: 320px;
	}

	.background.genome {
		background-size: 320px;
	}

	.background.wrangler {
		background-size: 320px;
	}

	.background.traffic {
		background-size: 320px;
	}

	.gallery .info {
		top: 11.2em;
	}

	.gallery .info h2 a {
		font-size: 27px;
		margin-top: .5em;
		outline: 0;
		border: 0; 
	}

	.gallery .date{
		font-size: 20px;
	}

	.gallery .foot p {
		font-size: 14px;
		line-height: 15px;
	}

	.gallery .foot a {
		font-size: 14px;
		line-height: 15px;
	}

	.gallery .foot {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	header {
		font-size: 26px;
		font-weight: 900;
		margin-top: 2.5em;
	}

	#portrait {
		width: 180px;
	}

	.highlight {
		font-size: 16px;
	}

	#typewriter {
		width: 13em;
	}

	.button.scrolly {
		margin-left: -1.8em;
	}
}

@media screen and (max-width: 330px) {

	body, input, textarea, select {
		font-size: 11pt;
		line-height: 22px;
	}

	.gallery.box1 {
		width: 285px;
		height: 245px;
	}

	.gallery.box2 {
		width: 285px;
		height: 245px;
	}

	.gallery.box3 {
		width: 285px;
		height: 245px;
	}

	.gallery.box4 {
		width: 285px;
		height: 245px;
	}

	.gallery .background, .gallery .column{
		height: 180px;
		width: 285px;
	}

	.background.dash {
		background-size: 285px;
	}

	.background.genome {
		background-size: 285px;
	}

	.background.wrangler {
		background-size: 285px;
	}

	.background.traffic {
		background-size: 285px;
	}

	.gallery .info {
		top: 11em;
	}

	.gallery .info h2 a {
		font-size: 25px;
		margin-top: .5em;
		outline: 0;
		border: 0; 
	}

	.gallery .date{
		font-size: 20px;
	}

	.gallery .foot p {
		font-size: 12px;
		line-height: 13px;
	}

	.gallery .foot {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	header {
		font-size: 22.5px;
		font-weight: 900;
		margin-top: 2.5em;
	}

	#portrait {
		width: 160px;
	}

	.highlight {
		font-size: 14px;
	}

	#typewriter {
		width: 15em;
	}

	.button.scrolly {
		margin-left: -1.9em;
	}
}